.box1 {
    margin: 5px;
    border: 5px solid black;
    padding: 5px;
    width: 150px;
}
.box1 h1{
    margin: 0;
    padding: 5px;
    text-align: center;
}
.wrapper{
    height: 100px;
    display: flex;
}
.main{
    width: 33%;
    padding: 10px;
}

.main p{
    line-height: 100%;
}

.main2{
    width: 33%;
    margin-top: 5px;
    margin-left: 50px;
}
