.white {
    color: white;
}

.background {
  background-image: image-url('top.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0px;
  padding: 0px;
}

.boxtop {margin-top: 500px;
    }

.circle_blue{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: blue;
}

.circle_orange{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FF6600;
}

.circle_red{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
}

.circle_gray{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gray;
}
