.wrapper_units{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.main_units{
    width: 50%;
    margin-top: 5px;
    margin-left: 10px;
}
aside_units{
    margin-top: 30px;
    width: 50%;
    
}

.link{
    color: black ; 
}

.p{
    line-height: 100%;
}